/*
md.css

Collection of stylings for classes intended to be used by <table> blocks
 */

td, th
{
	font-size: 120%;
	padding: 15px;
}

.green
{
    background-color: chartreuse;
}

.red
{
    background-color: red;
}

.yellow
{
    background-color: yellow;
}

[id^='opt-'][id$='-0']
{
    background-color: orange;
}

[id^='opt-'][id$='-1']
{
    background-color: pink;
}

.finalised
{
    background-color: white;
}

.deleteThis
{
    color : white;
    background-color: darkcyan;
    font-size: 15px;
}

.not-selected
{
    color: grey;
    filter: brightness(55%);
}

.selected
{
    color: black;
}

body
{
    font-family: "Georgia", serif;
}

p, li
{
    line-height: 1.7;
}
